
@{
    ViewBag.Title = "Error";
}

<h2>Message</h2>
<h2>Candidate Registeration is been Rejected</h2>
<p>
    To be a Candidate for presidential election, you must be:<br/>

    A citizen<br/>
    Aged 18 or over<br/>
    Ordinarily resident in the State* and
</p>

