
@{
    ViewBag.Title = "Error";
}

<h2>Message</h2>

<h2>Vote is Rejected</h2>
<p>
    To vote in a presidential election, you must be:<br />

    A citizen<br />
    Aged 18 or over<br />
    Ordinarily resident in the State* and
</p>