@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<strong>
    Fingerprint Voting 
</strong><br />
<hr />
<p>
    <strong>Abstract</strong><br />
    Fingerprint authentication voting is a web Application. Scan your finger in a scanner to give vote for your selected candidate.
    It’s aimed that any country can use the system for a voting, for presidential voting or parliamentary voting.
    The application is cross platform for Windows and Linux.
    The user of the application is able to drag and drop a candidate card on the country list.
    The application provides a highly interactive, visual data collections for the visualisation.
    In terms of interaction you can pick a country and it’s campaign :
    Charts draws dynamically based on the selected country.
    You can add/remove/edit:
    Users
    Campaign
    Candidate
    All the Votes are stored securely in the system.
    Individual users can check the results of voting, related to their countries.

</p>