@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    NOTE: THIS IS JUST FOR FYP<br />

    Electronic Voting <br />
    Ireland, Limerick<br />

    ANY QUESTION PLEASE CONTACT THE FOLLOWING EMAILS 
</address>

<address>
    <strong>Developer-Student:</strong>   <a href="mailto:fahim.emaan@hotmail.com">fahim.emaan@hotmail.com</a><br />
    <strong>Supervisor:</strong> <a href="mailto:nikola.nikolov@ul.ie">nikola.nikolov@ul.ie</a>
</address>