@{
    ViewBag.Title = "Result Page";
}
@* The following Link is just fot the Image carousel  *@


<h2>Result Guide</h2>

<div class="table-responsive">


    
    <img src="~/Images/result.png" height="920" width="1020">

</div>

<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

